<div class="restaurant-form-container">
  <div class="form-card">
    <h2><mat-icon>storefront</mat-icon> Add a New Restaurant</h2>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Restaurant Name</mat-label>
        <input matInput formControlName="name" placeholder="e.g. The Tandoori House" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="e.g. MG Road, Bangalore" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="image" placeholder="Paste image link here" />
      </mat-form-field>

     <div class="form-actions">
  <button mat-flat-button color="warn" [routerLink]="'/restaurants'">
    <mat-icon>arrow_back</mat-icon> Back
  </button>

  <button mat-flat-button color="accent" type="submit">
    <mat-icon>add</mat-icon> Add Restaurant
  </button>
</div>


    </form>
  </div>
</div>
